body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul, li, a{
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color:antiquewhite;
    text-decoration: none;
}

header{
    margin-top: 0rem;
    margin-left: 0rem;
    background-color: #4a9151;
    display: flex;
    padding : 17px 3%;
}


nav{
    margin-top: 0rem;
    margin-left: 2%;
    width : 96%;
    display: flex;
    background-color: #790012;
}

section{
    margin-top: 1rem;
    margin-left: 15%;
    width : 70%;
    height : 30rem;
    background-color: #4d0404;
}
footer{
    margin-top: 0;
    margin-left: 0;
    width : 100%;
    height : 5rem;
    background-color : #2a0b0b;
}

.logo{
    cursor: pointer;
    border-radius : 50%;
    width : 70px;
    height : 50px;
}
.headerLinks li {
    display: inline-block;
    padding: 0px 20px;
}
.headerLinks li a{
    transition: all 0.3s ease 0s;
}
.headerLinks li a:hover {
    color : cadetblue;
}

.navLinks li {
    display: inline-block;
    padding: 0px 20px;
}
.navLinks li a{
    transition: all 0.3s ease 0s;
}
.navLinks li a:hover {
    color : cadetblue;
}
.productImage{
    height: 200px;
    width: 80px;
}
.product{
    border: 1px solid black;
    width : 15%;
    justify-content: center;
    margin : 5px;
}